<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vivadecora-teste.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57D6A4241D95DDC9004E266D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57D6A43D1D95DDC9004E266D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57D6A4481D95DDC9004E266D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
